.section {
  margin: auto;
  display: flex;
  justify-content: center;
}

.mainSection {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputForm {
  /* margin: auto; */
  padding: 10px;
}

.charList {
  justify-content: center;
  margin: auto;
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(4, 205px);
  grid-template-rows: repeat(4, 350px);
  gap: 5px;
}

/* 아래는 찾고나서 사용할 css */
.userInfoBox {
  border: 1px solid black;
  border-radius: 12px;
  width: 80%;
  /* height: 50vh; */
  margin: auto;
  padding: 20px;
  display: flex;
}

.character {
  border: 1px solid black;
  border-radius: 12px;
}

.userInfo {
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userInfo:hover {
  background-color: rgba(114, 212, 227, 0.953);

  cursor: pointer;
}

.userImgBox {
  padding: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.serverIcon {
  width: 70px;
  /* height: 150px; */
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}

.userImg {
  position: relative;
  z-index: 100;
}

.userName {
  font-size: 24px;
  font-weight: 700;
}

.userJobName {
  color: red;
  font-size: 15px;
}

.userFame {
  display: flex;
  font-size: 15px;
  align-items: center;
}

.fameIcon {
  padding-right: 5px;
}
