.searchForm {
  border: 1px solid black;

  width: 60%;
  height: 600px;
  margin: 20px auto;
  padding: 10px;

  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.setImage {
  height: 10vh;
}

.inputTag {
  display: none;
}
