.logo {
  width: 50px;
  object-fit: fill;
}

.header {
  height: 100%;
  background-color: rgb(138, 255, 255);
  display: flex;
}

.topBox {
  display: flex;
  align-items: center;
}

.title {
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.actionBtn {
  font-size: 1rem;
}

.icon {
  font-size: 1.5rem;
}
